<%= form_with model: Flight, method: :get do |f| %>
  <div>
      <%= f.label :departure_airport_id %>
      <%= f.collection_select :departure_airport_id, Airport.order("code ASC"), :id, :code,
        { :selected => params[:flight].present? ? params[:flight][:departure_airport_id] : Airport.order("code ASC").first.id } %>
  </div>
  <div>
      <%= f.label :arrival_airport_id %>
      <%= f.collection_select :arrival_airport_id, Airport.order("code ASC"), :id, :code,
        { :selected => params[:flight].present? ? params[:flight][:arrival_airport_id] : Airport.order("code ASC").first.id } %>
  </div>
  <div>
      <%= f.label :passengers %>
      <%= f.select :passengers, [1, 2, 3, 4] %>
  </div>
  <div>
      <%= f.label :departure, "Flight date" %>
      <%= f.date_field :departure, min: Flight.minimum(:departure), max: Flight.maximum(:departure), required: true, value: Flight.minimum(:departure) %>
  </div>
  <%= f.submit "Search" %>
<% end %>
<br />

<% if !@flights.blank? %>
    <%= form_with url: "/bookings/new", method: :get do |form| %>
            <% @flights.each do |flight| %>
                    <div>
                        <%= form.radio_button :flight, flight.id %>
                        <%= form.label "flight_#{flight.id}", "Flight No. #{ flight.id }"%><br />
                        <%= form.label "flight_#{flight.id}", "Departure Date: #{ flight.departure }"%><br />
                        <%= form.label "flight_#{flight.id}", "Departure Airport: #{ Airport.find(flight.departure_airport_id).code }"%><br />
                        <%= form.label "flight_#{flight.id}", "Arrival Date: #{ flight.arrival }"%><br />
                        <%= form.label "flight_#{flight.id}", "Arrival Airport: #{ Airport.find(flight.arrival_airport_id).code }"%>
                        <%= hidden_field(:passengers, params[:flight][:passengers]) %>
                    </div>
                <br />
            <% end %>
        <%= form.submit "Create Booking" %>
    <% end %>
<% else %>
    <h1>No result found</h1>
<% end %>